BuffCookie=cookie1=111;cookie2=222;
SteamAccount=xxxxxxxxxxxxxxxxxxx=（base64）
SteamPassword=xxxxxxxxxxxxxxxxxxx=（base64）
SharedSecret=xxxxxxxxxxxxxxxxxxx=（base64）
IdentitySecret=xxxxxxxxxxxxxxxxxxx=（base64）
DeviceId=android:xxxxxx-xxxxxxxx-xxxxx
ProxyUrl=http://localhost:42251
BuffMinPrice=1
BuffMaxPrice=100